.last-modified {
    opacity: 75%;
}

.sidebar a, .sidebar a:hover, .sidebar a:visited, .sidebar a:active {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    text-decoration: none;
    border: #007fBB;
    border-radius: 10pt;

    color: white;
    background-color: #007FBB;
}