body {
    background-color: black;
    font-family: 'Courier New', monospace;
    color: aliceblue;
}

/* hello */

#name-title {
    color: aliceblue;
    opacity: 0.70;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    margin: auto;
    line-height: 28px;
    padding: 10px;
    /* padding-top: 35vh; */
}

#name-h1 {
    font-size: 60pt;
}

#name-p {
    font-size: 24pt;
}

.nav-text {
    color: aliceblue !important;
    transition: all 0.2s ease-in-out !important;
}

.nav-text:hover {
    color: #777777 !important;
    transition: all 0.2s ease-in-out !important;
}

.navbar-dark {
    color: aliceblue !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#socials {
    padding-left: 5vw;
}